<body>
    <header>
      <h1>Redirecting to Payment Gateway...</h1>
    </header>
    <form  id="myForm" action="<%= formData.spURL %>" method="POST">
      <input type="hidden" name="encData" value="<%= formData.encData %>">
      <input type="hidden" name="clientCode" value="<%= formData.clientCode %>">
      <input style="visibility:hidden;" type="submit" id="submitButton" name="submit" value="Go To PG">
    </form>
    <script>
      function send_data() {
    document.getElementById('myForm').submit.click();
}

window.onload = () => {
  send_data();
}
      </script>
</body>